<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALINEN</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="index.bundle.js"></script>
</head>
<body>
    <div id="container">
        <header>
            <div id="logo"><img src="img/logo.jpg" alt="alinen"></div>
        </header>
        <section>
            <div id="formulario">
                <h2>Inicio de Sesión</h2>
                <form action="">
                    <input type="text" name="user" id="user" placeholder="Usuario">
                    <input type="password" name="psw" id="psw" placeholder="Contraseña">
                    <select name="day" id="day">
                        <option value = "0">-- Día --</option>
                        <option value="monday">Lunes</option>
                        <option value="tuesday">Martes</option>
                        <option value="wednesday">Miercoles</option>
                        <option value="thursday">Jueves</option>
                        <option value="friday">Viernes</option>
                        <option value="saturday">Sábado</option>
                        <option value="sanday">Domingo</option>
                        <option value="demo">Demo</option>
                    </select>
                    <input type="submit" value="Ingresar" id="enviar">
                    <input type="hidden" name="fecha">
                </form>
            </div>
        </section>
        <footer></footer>
    </div>
</body>
</html>